---
layout: article
title: Hari-SrDevOpsLead-11yrs-2024-v3
show_title: false
aside:
  toc: true
permalink: /resume-v3.html
---


<div class="grid">
  <div class="cell cell--shrink content">
    <h1 id="hari-prasad"><strong>Hari Prasad</strong><a class="anchor d-print-none" aria-hidden="true"><i class="fas fa-anchor"></i></a></h1>
  </div>
  <div class="cell cell--auto content pr-2" style="text-align: right;">
    <p><img src="https://harrythedevopsguy.github.io/img/harry/4.jpg" alt="Hari Prasad" class="border rounded" style="max-height:80px"></p>
  </div>
  <div class="cell cell--shrink content">
    <p><strong>🚀 CI/CD Specialist</strong><br>
<strong>📞 7503721297</strong>
<br><a href="https://wa.me/917503721297?text=Hi"><img src="https://img.icons8.com/color/32/whatsapp--v1.png" alt="WhatsApp"></a>
<a href="https://www.linkedin.com/in/hari-prasad-verma-19b948154"><img src="https://img.icons8.com/fluency/32/linkedin.png" alt="LinkedIn"></a>
<a href="https://github.com/HarryTheDevOpsGuy"><img src="https://img.icons8.com/fluency/32/github.png" alt="Github"></a>
<a href="mailto:HarrytheDevOpsGuy@gmail.com"><img src="https://img.icons8.com/fluency/32/gmail-new.png" alt="Gmail"></a></p>
  </div>
</div>



<div class="grid">
  <div class="cell cell--shrink content">
    <h1>{{ site.data.resume.personal_info.name }}</h1>

  </div>
  <div class="cell cell--auto content pr-2" style="text-align: right;" markdown="1">
    <img class="image image--sm border rounded" style="max-height:80px" alt="Profile Picture"  src="https://harrythedevopsguy.github.io/img/harry/4.jpg"/>
  </div>
  <div class="cell cell--shrink content">
    <p> <strong>🚀 {{ site.data.resume.personal_info.title }}<br>📞 {{ site.data.resume.personal_info.phone }} </strong>
    <a href="{{ site.data.resume.personal_info.whatsapp }}"><img src="https://img.icons8.com/color/32/whatsapp--v1.png" alt="WhatsApp"></a>
    <a href="{{ site.data.resume.personal_info.linkedin }}"><img src="https://img.icons8.com/fluency/32/linkedin.png" alt="LinkedIn"></a>
    <a href="{{ site.data.resume.personal_info.github }}"><img src="https://img.icons8.com/fluency/32/github.png" alt="Github"></a>
    <a href="mailto:{{ site.data.resume.personal_info.email }}"><img src="https://img.icons8.com/fluency/32/gmail-new.png" alt="Gmail"></a>
  </p>


<!-- <br>[![WhatsApp](https://img.icons8.com/color/32/whatsapp--v1.png)]({{ site.data.resume.personal_info.whatsapp }})
[![LinkedIn](https://img.icons8.com/fluency/32/linkedin.png)]({{ site.data.resume.personal_info.linkedin }})
[![Github](https://img.icons8.com/fluency/32/github.png)](https://github.com/HarryTheDevOpsGuy)
[![Gmail](https://img.icons8.com/fluency/32/gmail-new.png)](mailto:HarrytheDevOpsGuy@gmail.com) -->

  </div>
</div>
