---
layout: article
title: Hari-SrDevOpsLead-11yrs-2024-v3
show_title: false
aside:
  toc: true
permalink: /resume-v3.html
---


<div class="grid">
  <div class="cell cell--shrink content">
    <h1 id="hari-prasad"><strong>{{ site.data.resume.personal_info.name }}</strong></h1>
  </div>
  <div class="cell cell--auto content pr-2" style="text-align: right;">
    <p><img src="https://harrythedevopsguy.github.io/img/harry/4.jpg" alt="{{ site.data.resume.personal_info.name }}" class="border rounded" style="max-height:80px"></p>
  </div>
  <div class="cell cell--shrink content">
    <p><strong>🚀 {{ site.data.resume.personal_info.title }}</strong><br>
<strong>📞 {{ site.data.resume.personal_info.phone }}</strong>
<br><a href="{{ site.data.resume.personal_info.whatsapp }}"><img src="https://img.icons8.com/color/32/whatsapp--v1.png" alt="WhatsApp"></a>
<a href="{{ site.data.resume.personal_info.linkedin }}"><img src="https://img.icons8.com/fluency/32/linkedin.png" alt="LinkedIn"></a>
<a href="{{ site.data.resume.personal_info.github }}"><img src="https://img.icons8.com/fluency/32/github.png" alt="Github"></a>
<a href="mailto:{{ site.data.resume.personal_info.email }}"><img src="https://img.icons8.com/fluency/32/gmail-new.png" alt="Gmail"></a></p>
  </div>
</div>

<div class="grid">
  <div class="cell cell--12 cell--md-8 cell--lg-8 content pr-2" style="text-align: justify;">

    <h2 id="professional-summary">📝 <strong>Professional Summary</strong></h2>
    <p>🌟 <strong>11+ years of experience</strong> in <strong>DevOps engineering</strong>, specializing in <strong>cloud automation</strong>, <strong>CI/CD pipelines</strong>, and <strong>infrastructure as code (IaC)</strong>. Proficient in tools like <strong>Terraform, Ansible, Packer, Kubernetes, Docker, Jenkins</strong>, and monitoring stacks (<strong>Prometheus, ELK</strong>). Skilled in designing scalable, secure, and highly available systems. Strong collaboration skills with a focus on bridging the gap between development and operations.</p>

    <h2 id="technical-skills">🎯 Technical Skills</h2>
    <ul>
      <li>⚡ <strong>Infrastructure as Code (IaC)</strong>: Provision, deploy, and manage entire <strong>infrastructure as code</strong> with <strong>Terraform</strong>, <strong>Ansible</strong>, <strong>Jenkins</strong>, <strong>Groovy</strong> and <strong>shell</strong> script.</li>
      <li>🚀 <strong>CI/CD Automation</strong>: Proficient in creating and maintaining automated CI/CD pipelines using <strong>Jenkins</strong>, <strong>ArgoCD</strong>, and <strong>GitHub Actions</strong> for Java, Nodejs, php, python etc applications.</li>
      <li>☁️ <strong>Cloud Infrastructure Management</strong>: Expertise in managing <strong>AWS</strong> services like EC2, S3, RDS, VPC, IAM, CloudWatch, Secrets, Route 53, Lambda, and more.</li>
      <li>🔧 <strong>Configuration Management</strong>: Strong experience with <strong>Ansible</strong>, <strong>Terraform</strong>, and <strong>Packer</strong> for automating system configuration, provisioning, and infrastructure management.</li>
      <li>🐳 <strong>Containerization &amp; Orchestration</strong>: Hands-on experience with <strong>Docker</strong>, <strong>Kubernetes</strong>, <strong>Helm</strong>, <strong>Karpenter</strong> and <strong>EKS</strong> for containerized application deployment and management.</li>
      <li>🛡️ <strong>Security &amp; Compliance</strong>: Knowledge in security best practices, including <strong>CIS Linux hardening</strong>, vulnerability patching and managing sensitive data with <strong>Vault</strong>.</li>
      <li>📦 <strong>Automation &amp; Scripting</strong>: Proficiency in <strong>scripting</strong> to <strong>develop</strong> custom tool to automate manual and repeated task.</li>
      <li>📊 <strong>Monitoring &amp; Logging</strong>: Experienced in setting up and managing monitoring/logging systems using <strong>Prometheus</strong>, <strong>Grafana</strong>, <strong>ELK Stack</strong>, <strong>Telegraf</strong>, <strong>Prometheus Exporters</strong> and <strong>CloudWatch</strong>.</li>
      <li>🌐 <strong>Web &amp; Application Servers</strong>: Hands-on experience with <strong>Nginx</strong>, <strong>Apache</strong>, <strong>Tomcat</strong>, <strong>OpenResty</strong> and <strong>Springboot</strong>.</li>
    </ul>

    <h2 id="work-experience">💼 Work Experience</h2>

    <h3 id="one97-communications-limited">🏢 One97 Communications Limited</h3>
    <p>👨‍💻 <strong>Sr. DevOps Lead</strong> | 📍 Noida | 🗓️ Mar-20 – Present</p>

    <ul>
      <li>Developed <strong><a href="https://harrythedevopsguy.github.io/articles/docs/apps/bgdeployerv3">BG Deployer</a></strong> a <strong>fully automated blue-green deployment pipeline</strong> with <strong>zero downtime</strong> using <strong>Jenkins</strong>, <strong>AWS ALB</strong>, <strong>ASG</strong>, and <strong>CloudWatch</strong>.</li>
      <li><strong>Managed infrastructure as Code</strong>, leveraging <strong>Terraform</strong>, <strong>Ansible</strong>, <strong>Packer</strong>, and <strong>AWS</strong>.</li>
      <li>Built <strong>golden AMIs</strong> with <strong>Packer</strong>, ensuring timely <strong>security patching</strong> and Linux hardening.</li>
      <li>Designed and maintained <strong>CI/CD pipelines</strong>, enabling automated deployments for prod &amp; nonprod.</li>
      <li>Configured <strong>Prometheus</strong>, <strong>Grafana</strong>, and <strong>ELK Stack</strong> for comprehensive <strong>monitoring and logging</strong>.</li>
      <li>Led a team of <strong>DevOps engineers</strong>, providing mentorship and support.</li>
      <li>Managed <strong>EKS clusters</strong> and CI/CD pipelines as code using <strong>ArgoCD</strong>, <strong>Helm</strong>, and <strong>Helmfile</strong>.</li>
      <li>Developed Lua script &amp; Integrated with Openresty get Advanced Requests metrics(5xx,4xx,2xx,latency,etc).</li>
      <li>Mastery in <strong>Karpenter</strong> for dynamic EKS worker node management to reduce costs.</li>
      <li>Built &amp; implemented dynamic <strong>Linux user management</strong> with <strong>Ansible</strong> Role.</li>
    </ul>

    <h3 id="ziploan">🏢 Ziploan</h3>
    <p>👨‍💻 <strong>Sr. DevOps Engineer</strong> | 📍 Delhi | 🗓️ Oct-19 – Mar-20</p>

    <ul>
      <li>Migrated on-premises applications to <strong>AWS</strong>, cutting hosting costs by <strong>50%</strong>.</li>
      <li>Implemented <strong>blue-green deployments</strong> with <strong>ALB</strong>, <strong>ASG</strong>, and <strong>Jenkins</strong>.</li>
      <li>Optimized centralized logging with <strong>ELK Stack</strong> for real-time data analysis.</li>
      <li>Automated Application deployments using <strong>Jenkins</strong>, reducing setup time by <strong>60%</strong>.</li>
      <li>Wrote <strong>Ansible roles</strong> to automate Linux setup and software installations.</li>
      <li>Developed <strong>Jenkins pipelines</strong> using <strong>Groovy scripts</strong> for seamless CI/CD.</li>
    </ul>

    <h3 id="kiwitech">🏢 KiwiTech</h3>
    <p>👨‍💻 <strong>DevOps Engineer</strong> | 📍 Noida | 🗓️ Nov-17 – Oct-19</p>
    <ul>
      <li>Managed <strong>100+ Linux servers</strong> supporting mission-critical applications.</li>
      <li>Automated deployments with <strong>Jenkins</strong> and <strong>Ansible</strong> for consistency and speed.</li>
      <li>Set up <strong>AWS CloudWatch</strong>, <strong>SNS</strong>, and <strong>Lambda</strong> for monitoring and alerting.</li>
      <li>Built new infrastructure from scratch, ensuring seamless <strong>go-live support</strong>.</li>
      <li>Troubleshot high-priority production issues under strict SLAs.</li>
    </ul>

    <h3 id="xeliumtech-solutions">🏢 Xeliumtech Solutions</h3>
    <p>👨‍💻 <strong>Linux System Administrator (DevOps)</strong> | 📍 Gurugram | 🗓️ Dec-15 – Nov-17</p>

    <ul>
      <li>Configured virtual machines to host multiple websites with <strong>LAMP stack architecture</strong>.</li>
      <li>Administered <strong>GitLab servers</strong>, managing repositories and version control.</li>
      <li>Maintained non-production infrastructure to support testing and development.</li>
      <li>Developed automation scripts to reduce manual tasks and improve operational efficiency.</li>
      <li>Implemented security best practices such as <strong>SSL</strong> configurations and <strong>user management</strong>.</li>
      <li>Created AWS infrastructure (EC2, SG, Keypair, S3, ALB, etc) using <strong>Terraform</strong>, <strong>Ansible</strong>.</li>
      <li>Written <strong>Shell scripts</strong> to perform adhoc task on <strong>ubuntu</strong> servers.</li>
      <li>Managed Multiple website on Single web servers with <strong>nginx</strong>.</li>
    </ul>

    <h3 id="dental-council-of-india-dci">🏢 Dental Council Of India (DCI)</h3>
    <p>👨‍💻 <strong>Desktop Support Engineer</strong> | 📍 Delhi | 🗓️ Mar-13 – Dec-2015</p>

    <ul>
      <li>Supported <strong>desktop and laptop users</strong>, resolving technical issues promptly.</li>
      <li>Managed <strong>MS SQL Server</strong> and ensured smooth operation of Windows applications.</li>
      <li>Diagnosed and resolved <strong>network connectivity</strong> issues in office systems.</li>
      <li>Performed regular maintenance and updates on <strong>Windows and Linux servers</strong> to ensure optimal performance.</li>
      <li>Implemented backup and recovery strategies for critical <strong>SQL Server databases</strong>.</li>
    </ul>

  </div>
  <div class="cell cell--12 cell--md-4 cell--lg-4 content">

    <h2 id="skills">🎯 Skills</h2>
    <p><img src="https://img.icons8.com/color/48/terraform.png" alt="Terraform">
<img src="https://img.icons8.com/color/48/jenkins.png" alt="Jenkins">
<img src="https://img.icons8.com/color/48/amazon-web-services.png" alt="AWS">
<img src="https://img.icons8.com/color/48/kubernetes.png" alt="Kubernetes">
<img src="https://img.icons8.com/color/48/ansible.png" alt="Ansible"></p>

    <p><a href="#" class="button button--outline-success button--rounded button--sm">Ansible</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Jenkins</a>
<a href="#" class="button button--outline-success outline-success--rounded button--sm">AWS</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Telegraf</a>
<a href="#" class="button button--outline-info button--rounded button--sm">Redis</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Shell Script</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Terraform</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Kubernetes</a>
<a href="#" class="button button--outline-warning button--rounded button--sm">helm</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Argocd</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Karpenter</a>
<a href="#" class="button button--outline-success button--rounded button--sm">ELK Stack</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Packer</a>
<a href="#" class="button button--outline-warning button--rounded button--sm">Nexus</a>
<a href="#" class="button button--outline-info button--rounded button--sm">Nginx</a>
<a href="#" class="button button--outline-warning button--rounded button--sm">Groovy</a>
<a href="#" class="button button--outline-info button--rounded button--sm">Kafka</a>
<a href="#" class="button button--outline-warning button--rounded button--sm">Helmfile</a>
<a href="#" class="button button--outline-info button--rounded button--sm">OpenResty</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Prometheus</a>
<a href="#" class="button button--outline-info button--rounded button--sm">Grafana</a>
<a href="#" class="button button--outline-info button--rounded button--sm">Python</a>
<a href="#" class="button button--outline-warning button--rounded button--sm">GitHub Actions</a></p>

    <h2 id="education">📚 Education</h2>
    <p>🎓 B.Com, DU, Delhi   -     2014<br>
🏫 12th, CBSE, Delhi  -     2010<br>
🏫 10th,  CBSE, Delhi -     2008<br>
📜 H/W &amp; N/W, Delhi   -      2013<br></p>

    <h2 id="languages">💬 Languages</h2>
    <p><a href="#" class="button button--outline-success button--rounded button--sm">English</a>
<a href="#" class="button button--outline-success button--rounded button--sm">Hindi</a></p>

    <h2 id="my-tools">🐙 My Tools</h2>
    <p><a href="https://github.com/HarryTheDevOpsGuy/mCert" class="button button--outline-success button--rounded button--sm">mCert</a>
<a href="https://github.com/HarryTheDevOpsGuy/mStatus" class="button button--outline-success button--rounded button--sm">mStatus</a>
<a href="https://github.com/HarryTheDevOpsGuy/mSend" class="button button--outline-success button--rounded button--sm">mSend</a>
<a href="https://github.com/HarryTheDevOpsGuy/mLog" class="button button--outline-success button--rounded button--sm">mLog</a>
<a href="https://github.com/HarryTheDevOpsGuy/mTracker" class="button button--outline-success button--rounded button--sm">mTracker</a>
<a href="https://github.com/HarryTheDevOpsGuy/mWatcher" class="button button--outline-success button--rounded button--sm">mWatcher</a></p>

    <h2 id="contacts-info">☎️ Contacts Info</h2>
    <p><a href="https://wa.me/917503721297?text=Hi"><img src="/articles/docs/assets/images/MyQR.png" alt="Contact me"></a>
<a href="https://wa.me/917503721297?text=Hi"><img src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="WhatsApp"></a>
<a href="https://www.linkedin.com/in/hari-prasad-verma-19b948154"><img src="https://img.icons8.com/fluency/48/linkedin.png" alt="LinkedIn"></a>
<a href="https://github.com/HarryTheDevOpsGuy"><img src="https://img.icons8.com/fluency/48/github.png" alt="Github"></a>
<a href="https://harrythedevopsguy.github.io"><img src="https://img.icons8.com/color/48/domain--v1.png" alt="Portfolio"></a>
<a href="mailto:HarrytheDevOpsGuy@gmail.com"><img src="https://img.icons8.com/fluency/32/gmail-new.png" alt="Gmail"></a>
<br>📧 HarryTheDevOpsGuy@gmail.com
<br>📞 7503721297</p>

  </div>
</div>

<h2 id="-developed-by-me">👨‍💻 Developed By Me</h2>
<ul>
  <li><strong><a href="https://harrythedevopsguy.github.io/articles/docs/apps/bgdeployerv3">BG Deployer</a></strong>: Shell-based Blue-Green Deployment solution.</li>
  <li><strong><a href="https://github.com/HarryTheDevOpsGuy/mCert">mCert</a></strong>: Utility to monitor SSL certificate expiration and notify via Slack, Telegraf, and email.</li>
  <li><strong><a href="https://github.com/HarryTheDevOpsGuy/mTracker">mTracker</a></strong>: Utility to monitor Linux user activity and send Slack notifications.</li>
  <li><strong><a href="https://github.com/HarryTheDevOpsGuy/mWatcher">mWatcher</a></strong>: Monitor Linux server health (CPU, Memory, Disk) and notify via Slack.</li>
  <li><strong><a href="https://harrythedevopsguy.github.io/articles/docs/apps/gcrypt">gCrypt</a></strong>: Git-crypt wrapper for secure repo data encryption and user access control.</li>
  <li><strong><a href="https://harrythedevopsguy.github.io/articles/docs/apps/mstatus">mStatus</a></strong>: Utility to check SSL and website status with instant notifications on failures.</li>
  <li><strong><a href="https://github.com/HarryTheDevOpsGuy/mSend">mSend</a></strong>: Utility to send HTML email notifications.</li>
</ul>

<h2 id="-footer">✨ <strong>Footer</strong></h2>
<p><em>Thank you for considering my application. I look forward to the opportunity to contribute my skills and expertise to your team.</em></p>